<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-migrations.ZPM">
    <Module>
      <Name>iris-migrations</Name>
      <Version>0.0.1</Version>
      <Description>test</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="NSolov.Migrations.PKG"/>
    </Module>
  </Document>
</Export>
